[Unit]
Description=Knot DNS Resolver daemon
Documentation=man:kresd(8)
## This is a socket-activated service:
RefuseManualStart=true

[Service]
Type=notify
WorkingDirectory=/run/kresd
ExecStart=/usr/sbin/kresd -c /etc/kresd/config
User=kresd
Restart=on-failure

[Install]
WantedBy=sockets.target
